* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  padding: 0.2rem;
}
img {
  width: 200px;
}
button {
  border: none;
  cursor: pointer;
}
input {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid black;
  outline: none;
}
.nxt-btn {
  background-color: black;
  color: white;
}
.disabled {
  background-color: black;
  color: white;
  pointer-events: none;
}
.prv-btn {
  background-color: white;
  color: black;
}
.required {
  color: red;
}
.default {
  background-color: white;
  color: black;
}
.incorrectName {
  background-color: rgba(255, 0, 0, 0.4);
  color: red;
}
.incorrectEmail {
  background-color: rgba(255, 0, 0, 0.4);
  color: red;
}
.incorrectPhone {
  background-color: rgba(255, 0, 0, 0.4);
  color: red;
}
.incorrectDOB {
  background-color: rgba(255, 0, 0, 0.4);
  color: red;
}
.errorMsg {
  font-weight: 500;
  font-size: x-small;
  color: red;
}

/* tempoorary css */
/* left side */
.left {
  border: 4px solid black;
}
.left-header {
  border: 2px solid red;
}
.cover {
  border: 2px solid blue;
}
.img {
  border: 2px solid indianred;
}
.quote {
  border: 2px solid greenyellow;
}
/* right side */
.right {
  border: 4px solid black;
}
.right-header {
  border: 2px solid red;
}
.animation {
  border: 2px solid blue;
}
.form {
  border: 2px solid yellow;
}
.form-header {
  border: 2px solid green;
}
.content {
  border: 2px solid indigo;
}
.knowledge {
  border: 2px solid goldenrod;
}
.character {
  border: 2px solid burlywood;
}
.prev-participation {
  border: 2px solid black;
}
.page-navigation {
  border: 2px solid orangered;
}
